body {font-family: 'Lora', Times New Roman, serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', Arial, sans-serif;}

@media screen and (min-width: 56.875em) {
  .site-header .site-title { 
  border: 0;
  font: 0/0 a;
  display: block;
  text-shadow: none;
  color: transparent;
  background: url('https://2017.helsinki.wordcamp.org/files/2017/01/wchelsinki_logo_360x200.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width:360px; height: 200px;}
.site-header .site-title a { display:block;width:360px; height: 200px;}
.site-description {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.site-header {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 5%;
}

.site-header-menu{
  display: block;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
.site-header-main {
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
  }
}

